[FolderTree]
tweetsFolder = Tweets_to_analyze
tweetsArchive = Tweets_archive
chartsFolder = Charts
reportsFolder = Reports
templateFile = report_template.txt

[GUI]
guiWidth = 300

[Wordcloud]
commonWords = ["yii","bit.ly",".ly","new","via","price","dlvr","gl","eth","bitcoin","blockchain","btc","ethereum","crypto","cryptocurrency","twitter","exchange","https","reddit","pic","cryptocurrencies","ly","ift"]

