[FolderTree]
tweetsFolder = Tweets_to_analyze
tweetsArchive = Tweets_archive
chartsFolder = Charts
reportsFolder = Reports
templateFile = report_template.txt
reportFile = report.txt
historyJson = history.json

[GUI]
guiWidth = 300

[Wordcloud]
commonWords = ["yii","bit.ly",".ly", "donald", "trump", "donaldtrump"]

